---
layout: default
title: DSConf - Distributed Systems Conference 2018.
---

<section>
	<div class="container">
		<h2>Distributed Systems Conf 2018</h2>

		<ul class="schedule">
			{% assign schedule = site.2018_speakers | sort: 'start_time' %}

			{% for speaker in schedule %}
				{% if speaker.announced %}
					<li>
						<div class="schedule_image">
							<img width="100px" height="100px" src="{{ speaker.image_path }}" alt="{{ speaker.name }}" />
						</div>
						<div class="schedule_description">
							{% if speaker.topic == "Lightning Talks" %}
								<h3 class="speaker-topic">
									{{ speaker.topic }}
								</h3>
						{% for lightning_speaker in speaker.lightning_speakers %}
							<p><span class="speaker-topic"><a href="https://youtu.be/{{lightning_speaker.youtube_id}}" data-video-id="{{lightning_speaker.youtube_id}}">{{ lightning_speaker.topic }}</a></span> -
								<em>
									{% if lightning_speaker.twitter_handle %}
										<a class="speaker_name" target="_blank" href="https://github.com/{{ lightning_speaker.twitter_handle }}">{{ lightning_speaker.name }} (@{{ lightning_speaker.twitter_handle }})</a>
									{% else %}
										{{ lightning_speaker.name }}
									{% endif %}
								</em>
							</p>
						{% endfor %}
					{% else %}
							<h3 class="speaker-topic">
								<a href="https://youtu.be/{{speaker.youtube_id}}" data-video-id="{{speaker.youtube_id}}">{{ speaker.topic }}</a>
							</h3>
							<p><a class="speaker_name" target="_blank" href="https://github.com/{{ speaker.twitter_handle }}"><em>{{ speaker.name }} (@{{ speaker.twitter_handle }})</em></a>
							<br>
							{{ speaker.title }} </p>
					{% endif %}
						</div>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section>
	<div class="container">
		<h2>Details</h2>

		<h3>Where is DSConf being held?</h3>
		<p>Distributed Systems Conference is being held in Pune on 21st April 2018.</p>

		<h3>I can't attend, will the videos be available later?</h3>
		<p>Yes, all the videos will be publicly available on YouTube.</p>

		<h3>Who's running Distributed Systems Conference and why?</h3>
		<p><a target="_blank" href="http://meetup.com/Distributed-Systems-Meetup/">Distributed Systems Pune Meetup </a> is organising DSConf 2018. We want to help grow & highlight all the work in the areas of Distributed Systems.</p>
	</div>
</section>
